.section--number {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .section--info {
        max-width: 90px;
    }
    @media (min-width: 1050px) {
        .section--info {
            width: 85px;
        }
    }
}   