.navigation {
    margin-top: 2rem;
    margin-bottom: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__menu {
        width: 120px;
        height: 20px;
    }
}