.observe {
    width: 100%;
    position: relative;
    &__container {
        width: 80%;
        max-width: 1000px;
        margin: 0 auto; 
        border: 1px solid white;
        border-radius: 5px;
        &--canvas {
            padding: 1rem 2rem;
        }
    }
    &__text {
        width: fit-content;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        &--bot {
            text-align: right;
        }
    }
}