body {
    background-color: #0B0C10;
    color: #ffffff;
    overflow-x: hidden;
}

section {
    margin: 8rem 0;
    overflow: hidden;
    @media (min-width: 750px) {
        margin: 10rem 0;
    }

    @media (min-width: 1350px) {
        margin: 13rem 0;    
    }
}

a, button {
    cursor: pointer;
}

.cursor--exp {
    text-decoration: none;
    color: white;
}

.width--90 {
    width: 90%;
    max-width: 1600px;
    margin: 8rem auto;
    
    @media (min-width: 750px) {
        margin: 10rem auto;
    }

    @media (min-width: 1350px) {
        margin: 13rem auto;    
    }
}
