body {
    background-color: #0B0C10;
    color: white;
    
}

section {
    margin: 4rem 0;
    overflow: hidden;
}

a, button {
    cursor: pointer;
}

.width--90 {
    width: 90%;
    max-width: 1600px;
    margin: 8rem auto;
}