
h1,
h2,
h3,
h4,
h5,
p {
    font-family: "Libre Baskerville", serif;
}

a,
button,
.header--sub {
    font-family: "Nunito", sans-serif;
}

.navigation--logo {
    font-family: "Nunito", sans-serif;
    font-size: clamp(2rem, 3rem, 4rem);
}

.banner {
    .banner__textContainer--topText {

    }
    .banner__textContainer--bottomText {
        
    }
}
