:root {
    --fs-logo: 2.5rem;
    --fs-hm: 2rem;
    --fs-hs: 1.5rem;
    --fs-to: 6.5rem;
    --fs-sh: 1.7rem;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-family: "Libre Baskerville", serif;
}

a,
button,
.header--sub {
    font-family: "Nunito", sans-serif;
}

.navigation--logo {
    font-family: "Nunito", sans-serif;
    font-size: var(--fs-logo);
}

.banner {
    text-transform: uppercase;
    text-align: center;
    .banner__textContainer--topText {
        font-size: clamp(2rem, 2rem, 8rem);
        font-size: var(--fs-hm);
    }
    .banner__textContainer--bottomText {
        font-family: "Nunito", sans-serif;
        font-size: var(--fs-hs);
    }
}

.text--outline {
    font-size: var(--fs-to);
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $pale-blue;
}

.section--header {
    font-size: var(--fs-sh);
}

.sculpt {

}
