@import "./scss/abstracts/_abstracts-dir";
@import "./scss/base/_base-dir";
@import "./scss/components/_components-dir";
@import "./scss/layouts/_layouts-dir";

.banner__canvasContainer--canvas {
    // /* position: fixed;
    // top: 0;
    // left: 0; */
    // // outline: none;
    // display: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .hide--sm {
        display: none;
    }
}

@media (min-width: 768px) {
    .hide--md {
        display: none;
    }
}

@media (max-width: 1050px) {
    .hide--uptoLarge {
        display: none;
    }
}

@media (min-width: 1050px) {
    .hide--lg {
        display: none;
    }
}
